.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 97px 50px 94px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_active {
  list-style: none;
}

.header__link {
  font-family: "Raleway", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}

.header__links-list-item_active .header__link {
  text-decoration: none;
}

.header__links-list-item_no-marker {
  list-style: none;
}
.header__link-active {
  text-decoration: none;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
}
.address {
  max-width: 240px;
  font-size: 18px;
  line-height: 24.3px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./images/lotus-flower.png);
  background-size: cover;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  color: white;
  margin-bottom: 106px;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115%;
  text-transform: uppercase;
}
.cover__title-word-tebe {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-right: -30px;
}

.cover__title-word-nado {
  display: block;
  text-align: end;
  margin-top: 20px;
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__subtitle {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 256px;
  height: 51px;
}

.lots {
  padding: 182px 24px 0;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  padding: 0 891px 30px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #2c3e50;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: white;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
}

.card__text {
  position: relative;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more {
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.about {
  margin: 120px 24px 180px;
}
.about__column {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 35px 72px 320px 47px;
}
.about__text {
  margin-top: 140px;
  margin-left: 119px;
}
.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 102px;
}
.about__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__description p:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  margin-top: 181px;
  padding: 0px 50px 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__menu-list {
  text-align: center;
  list-style: none;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}
